[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-huggingface = "*"
faiss-cpu = "*"
pypdf = "*"
sentence-transformers = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.13"
